input, button {
  outline: none;
}

.index-background {
  /*background: #81D8D0;*/
  overflow-x: scroll;
}

.index-section {
 /*min-width: 624px;*/
  margin: 0px auto;
  /*height: 70px;*/
}

.index-top {
  margin-top: 80px;
}

.index-title {
  color: #fff;
  font-family: 'Exo 2';
  font-weight: 200;
  font-size: 26px;
  padding: 10px 10px 10px 10px;
}

.text-sort {
  /*width: 310px;*/
  padding: 0;
  margin: 0;
  /*float: left;*/
}

.text-sort--right {
  text-align: right;
}

.text-sort--left {
  text-align: left;
}

.text-sort--center {
  text-align: center;
}

.index-input {
  text-align: center;
}


.index-textbox:focus,
.index-textbox:hover,
.index-textbox:active {
  border: 2px solid #32C5E6;
}

.index-textbox {
  padding: 0 10px 0 44px;
  margin: 5px 0 0 0;
  width: 290px;
  height: 48px;
  border: 2px solid #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 16px;
  color: #555555;
  position:relative;
}

.index-user {
  background: url("../img/icon-user.svg") #fff no-repeat 12px;
}

.index-email {
  background: url("../img/icon-email.svg") #fff no-repeat 12px;
}

.index-password {
  background: url("../img/icon-key.svg") #fff no-repeat 12px;
}

.index-interest {
  background: url("../img/icon-heart.svg") #fff no-repeat 12px;
}

.index-faculty {
  background: url("../img/icon-college.svg") #fff no-repeat 12px;
}

::-webkit-input-placeholder { /* WebKit browsers */
  font-family: 'Exo 2';
  font-weight: 400;
  font-size: 16px;
  color: #aaaab3 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-family: 'Exo 2';
  font-weight: 400;
  font-size: 16px;
  color: #aaaab3 !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-family: 'Exo 2';
  font-weight: 400;
  font-size: 16px;
  color: #aaaab3 !important;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  font-family: 'Exo 2';
  font-weight: 400;
  font-size: 16px;
  color: #aaaab3 !important;
}

.index-button {
  margin: 10px 0 50px 6px;
  width: 114px;
  height: 48px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 0;
  background: #FF8691;
  font-family: 'Exo 2';
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  padding: 0;
  position:relative;
}

.index-button:hover,
.index-button:focus {
  background: #FF5F6D;
}

.index-text {
  height: 100%;
  margin-top: 20px;
  font-family: 'Exo 2';
  font-weight: 300;
  font-size: 16px;
  color: #c7b0ff;
  text-align: center;
}

.index-bottom {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 80px;
}

.watermark-container {
	max-width: 310px;
	margin: 0 auto;
	padding: 0 10px 0px 10px;
}

.color-banner {
	background-image: url("../img/banner-shape.png"), linear-gradient(to top, #fff 0%, #3F62A1 20%, #3F62A1 30%, #7391C8 100%);
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 600px;
}

.index-logo {
	height: 150px;
}
