<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <link href='https://fonts.googleapis.com/css?family=Exo+2:400,900italic,900,800italic,800,700italic,700,600italic,600,500italic,500,400italic,300italic,200italic,200,100italic,100,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,900italic,900,800italic,800,700italic,700,600italic,600,500italic,500,400italic,300italic,200italic,200,100italic,100,300' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/chat.css">
    <title>Welcome</title>
</head>



<body>
	<section class="color-banner">
    <!-- user info -->
    <div class="container">
        <div class="row">
            <!-- top -->
            <div class="index-section index-top">
                <div class="text-sort--center">
                    <label class="index-title">Sign Up</label>
                </div>
            </div>
        </div>
        <!-- user info -->
        <div class="row">
            <div class="index-section index-input">


                <form action="/new_user" method="post">
                   <div>
                        <input type="text" class="index-textbox index-user" placeholder="Enter your Nickname" id="name" name="name" value="">
                    </div>
                    <div>
                        <input type="text" class="index-textbox index-email" placeholder="Enter your Email" id="email" name="email" value="">
                    </div>
                    <input type="password" class="index-textbox index-password" placeholder="Enter your Password" id="password" name="password" value="">
                    <div>
                        <input type="text" class="index-textbox index-interest" placeholder="Enter your Interest" id="interest" name="interest" value="">
                    </div>

                    <div style="margin: 1rem;">
                        <div>
                            <div class="panel panel-info" style="width: 29rem; margin: 0 auto;">
                                <div class="panel-heading">
                                    <h4>If you are a university student, what is your faculty?</h4>
                                </div>
                            </div>
                        </div>
                        <input type="text" class="index-textbox index-faculty" placeholder="Enter your Faculty" id="faculty" name="faculty" value="">

                    </div>

                    <div>
                        <button type="submit" class="index-button" id="btn_start" onclick="">Sign Up</button>
						<button type="button" class="index-button" id="btn_start" onclick="location.href='/login'">Back</button>
                    </div>
                </form>
            </div>
        </div>

        <% var errMsg = error;%>
            <% if (error!= undefined && errMsg.length > 0) {%>
                <div id="error-container" class="alert alert-danger" role="alert" style="display:block">
                    <%-errMsg%>
                </div>
                <%}%>
    </div>
	</section>
    <script src="static/js/jquery-1.11.3.min.js"></script>
</body>

</html>
